@tailwind base;
@tailwind components;
@tailwind utilities;

.backgroundgradient {
  background: rgb(255, 255, 255);
  background: linear-gradient(0deg, rgba(255, 255, 255, 1) 50%, rgba(17, 62, 95, 1) 50%);
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(19.5px);
  -webkit-backdrop-filter: blur(19.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.shadow {
  -webkit-box-shadow: 11px 11px 24px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 11px 11px 24px -1px rgba(0, 0, 0, 0.72);
  box-shadow: 11px 11px 24px -1px rgba(0, 0, 0, 0.72);
}

.shadowbtn {
  -webkit-box-shadow: 5px 7px 24px -1px rgba(0, 0, 0, 0.72);
  -moz-box-shadow: 5px 7px 24px -1px rgba(0, 0, 0, 0.72);
  box-shadow: 5px 7px 13px -1px rgba(0, 0, 0, 0.72);
}

@font-face {
  font-family: 'Crawling';
  src: url('./assets/fonts/Crawling.otf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'DevantHorgen';
  src: url('./assets/fonts/DevantHorgen.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

* {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, ;
}

html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.full-height {
  height: 100%;
  margin: 0;
  padding: 0;
}